**Sesi 3 Introduction python for data science Hacktive8**

In [1]:
def luas_persegi_panjang (p,l) :
  "fungsi untuk menghitung luas"
  print(p*l)
  return;
luas_persegi_panjang(3,6)

18

In [2]:
def printme (str) :
  print(str)
  return;
printme ("Aku adalah saya")
printme ("Saya adalah aku")

Aku adalah saya
Saya adalah aku

In [3]:
def changeme (mylist) :
  mylist.append([1,2,3,4]); #ditambah (append)
  print("nilai didalam fungsi : ", mylist)
  return
mylist = [10,20,30];
changeme (mylist);
print("nilai diluar fungsi :", mylist)

nilai didalam fungsi :  [10, 20, 30, [1, 2, 3, 4]]
nilai diluar fungsi : [10, 20, 30, [1, 2, 3, 4]]

In [4]:
#Kuis 2

mylist = [31,23,31,67,91,11,13,40,50,74,88,10];

def fungsi(mylist) :
  a = 0
  b = 0
  c = 0
  d = 0
  for i in mylist :
    if i%2==0 :
      a += 1
      c += i
    else :
      b += 1
      d += i
  print ('Jumlah angka ganjil ialah ', a)
  print ('Jumlah angka genap ialah ', b)
  print ('Jumlah total angka ganjil ialah ', c)
  print ('Jumlah total angka genap ialah ', d)

fungsi(mylist)

Jumlah angka ganjil ialah  5
Jumlah angka genap ialah  7
Jumlah total angka ganjil ialah  262
Jumlah total angka genap ialah  267

In [6]:
def str_joiner(a,b,c):
    a  = a.lower()
    b = b.lower()
    c = c.lower()
    return (a+ ' '+b+' '+c)[::-1]
str_joiner('Saya','Mau','Makan')

'nakam uam ayas'

In [7]:
total = 20 #Variabel Global

def function_a(a,b):
    total = a+b #variabel lokal
    print(total)

print(total)
function_a(1,2)

20
3

In [9]:
mylist = [31,23,31,40,50,67,74,88,91,10,11,13]

def list_summary(lst):
    nGenap = 0 #placeholder n angka genap
    nGanjil = 0
    sumGenap = 0
    sumGanjil = 0
    for i in lst:
        if i % 2 == 0 : # untuk filter angka genap
            nGenap +=1
            sumGenap +=i
        else: # untuk filter angka ganjil
            nGanjil +=1
            sumGanjil +=i
    print(nGanjil)
    print(nGenap)
    print(sumGanjil)
    print(sumGenap)
    
list_summary(mylist)

7
5
267
262

In [12]:
#default argument
def print_info(name, age=26) :
  print('Nama :', name)
  print('Umur :', age)
print_info('Agus')

Nama : Agus
Umur : 26

In [15]:
#variable length arguments
def printinfo(x, *vartuple):
    print('Output is :')
    print(x)
    print(vartuple)
    print(type(vartuple))

In [16]:
printinfo(8,9,20,30,'Nama',90,100,11)

Output is :
8
(9, 20, 30, 'Nama', 90, 100, 11)
<class 'tuple'>

In [17]:
def sum(x,y):
    return x + y
print(sum(1,2))

3

In [18]:
perkalian = lambda x,y:x*y
print(perkalian(3,5))

15

In [22]:
import numpy as np

In [20]:
np.sqrt(9)

3.0